/*!CK:1012966093!*//*1431956327,*/

._5wdk{color:#6d84b4;cursor:default;opacity:.4}._44dp{color:#3b5998;font-weight:bold}._44dq{margin:0 5px -3px 0}._5do6{display:block;font-size:12px;line-height:14px;text-align:center}._5do7{margin:0 6px -3px 0}

#bootloader_7wNP1 { height: 42px; }
.bootloader_7wNP1 { display:block !important; }