.navbar-brand { padding: 13px 15px; }
#home_text p {font-size: 18px;}
#home_text h1 {font-size: 32px;}

.thumbnails { margin: 20px 0px; border:#DDD; }

#containerActivities { padding: 10px 0px 10px 0px; }
#contact { margin-top: 100px; margin-bottom: 70px; }
#loading { position: fixed; top: 40%; left: 40%; z-index: 1104; }

.facebook-user { max-height: 132px; }
.facebook-user img { float: left; margin-right: 15px; cursor: pointer; }
@media (min-width: 768px) { .facebook-user img { display: none; } }
@media (min-width: 992px) { .facebook-user img { display: block; } }
.facebook-user p { height: 100px; position: relative; }
@media (min-width: 768px) { .facebook-user p { margin-left: 0; } }
@media (min-width: 992px) { .facebook-user p { margin-left: 100px; } }
.facebook-user .name { font-weight: bold; }
.facebook-user .actions { position: absolute; right: 0; bottom: 0; }

/*#search-helper { display: none; }*/
#search-helper .second { text-align: center; }
#search-helper .last { text-align: right; }
#search-helper .last span { margin-right: 21px; }
#search-helper .last input { float: right !important; }
#search-helper label { display: inherit; font-weight: normal; }
#search-helper-toggle { cursor: pointer; float: right; }

footer { background: #333; color: #eee; font-size: 11px; padding: 10px; width: 100%; bottom: 0px; position : fixed; }

/* Facebook */
.fbbutton {	margin: 14px 10px 10px 10px; }
.fb-like { margin: 15px 0px 0px 20px; }
.fb-status {	margin: 15px 0px 0px 20px; }

/* Media Queries */
@media (max-width: 480px) { #home_text p { font-size: 14px; } #home_text h1 { font-size: 22px; } }
@media (max-width: 768px) { #home_text p { font-size: 16px; } #home_text h1 { font-size: 26px; } }

/* tips search response holder*/
#responseHolder{
	width: 90%;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    margin-bottom:50px;
}
/* Photo Display Gallery*/
#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 6;
   -webkit-column-gap:   0px;
   -moz-column-count:    6;
   -moz-column-gap:      0px;
   column-count:         6;
   column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}