.navbar-brand { padding: 13px 15px; }
#home_text p {font-size: 18px;}
#home_text h1 {font-size: 32px;}

.facebook-user { cursor: pointer; }

.thumbnails { margin: 20px 0px; border:#DDD; }

#containerActivities { padding: 10px 0px 10px 0px; }
#contact { margin-top: 100px; margin-bottom: 70px; }
#loading { position: fixed; top: 40%; left: 40%; z-index: 1104; }

footer { background: #333; color: #eee; font-size: 11px; padding: 10px; width: 100%; bottom: 0px; position : fixed; }

/* Facebook */
.fbbutton {	margin: 14px 10px 10px 10px; }
.fb-like { margin: 15px 0px 0px 20px; }
.fb-status {	margin: 15px 0px 0px 20px; }

/* Media Queries */
@media (max-width: 480px) { #home_text p { font-size: 14px; } #home_text h1 { font-size: 22px; } }
@media (max-width: 768px) { #home_text p { font-size: 16px; } #home_text h1 { font-size: 26px; } }