/*!CK:2321008845!*//*1432609532,*/

._sgg{border-bottom:1px solid #2e4588;border-left:1px solid #2e4588;border-right:1px solid #2e4588;color:#d8deea;cursor:pointer;font-size:10px;height:20px;left:0;line-height:10px;margin-top:-1px;padding-left:8px;position:absolute;right:0;top:28px;z-index:1}.fbNubFlyoutTitlebar+._sgg{background:#5a73ad}.fbNubFlyoutTitlebar:hover+._sgg{background:#4662a4}.focusedTab ._sgg{background:#4662a4}

#bootloader_SG5mF { height: 42px; }
.bootloader_SG5mF { display:block !important; }