/*!CK:233298309!*//*1430736477,*/

.sp_ihF9VHMwaby{background-image:url(/rsrc.php/v2/yH/r/6UlDKyPOO7S.png);background-size:314px 58px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_ihF9VHMwaby.sx_d7ffed{width:8px;background-position:-70px -32px}.sp_ihF9VHMwaby.sx_dfee98{width:8px;height:14px;background-position:-300px -6px}.sp_ihF9VHMwaby.sx_aded17{width:10px;height:8px;background-position:-84px -26px}.sp_ihF9VHMwaby.sx_326738{background-position:-10px -36px}.sp_ihF9VHMwaby.sx_839e15{background-position:-42px -36px}

#bootloader_nxhoj { height: 42px; }
.bootloader_nxhoj { display:block !important; }