/*!CK:854477887!*//*1428295173,*/

.sp_TCvkYlAe6Cm{background-image:url(/rsrc.php/v2/yW/r/YVqiMc-GXXx.png);background-size:32px 74px;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_TCvkYlAe6Cm.sx_3650f2{width:30px;height:26px;background-position:0 0}.sp_TCvkYlAe6Cm.sx_af62ce{background-position:0 -28px}.sp_TCvkYlAe6Cm.sx_73db49{background-position:-16px -28px}.sp_TCvkYlAe6Cm.sx_dac645{background-position:0 -44px}.sp_TCvkYlAe6Cm.sx_4c37e6{background-position:-16px -44px}.sp_TCvkYlAe6Cm.sx_118a53{width:12px;height:12px;background-position:0 -60px}

#bootloader_WBPdk { height: 42px; }
.bootloader_WBPdk { display:block !important; }