/*!CK:685991295!*//*1424471180,*/

._5qt1 ._z3h{display:inline-block;margin:0 5px;vertical-align:top;width:400px}._5r68{margin:0 -21px}.fbTimelineSection ._5r68 .uiMorePager{margin:0}

#bootloader_g_iy7 { height: 42px; }
.bootloader_g_iy7 { display:block !important; }